body {
  background-color: rgb(134, 219, 172);
}

.title {
  color: red;
  text-align: center;
  font-size: 100px;
}

.song-title {
  color: rgb(55, 40, 226);
  margin-bottom: 10px;
  text-align: left;
  font-size: 65px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}

.content img {
  width: 700px;
  height: auto;
  flex-shrink: 0;
}

.lyrics {
  white-space: pre-line;
  color: black;
  font-size: 30px;
  margin-top: 0;
}

.link {
  font-size: 30px;
  text-decoration: underline;
  color: red;
}